### Exercise 49. 데이터 구조 (튜플)
* a, b, c, d, e를 저장하는 튜플을 만들고 첫 번째 튜플값과 마지막 번째 튜플값을 출력하세요.

In [2]:
tuple = ("a","b","c","d","e")

In [3]:
tuple[0],tuple[4]

('a', 'e')

In [4]:
tuple[-1]

'e'

### Exercise 50. 데이터 구조 (튜플)
* 다음 코드를 작성해서 실행해보고 에러가 나는 이유를 설명하세요.

  - 실행코드
    ```python
    tupledata = ('dave', 'fun-coding', 'endless')
    tupledata[0] = 'david'
    ```
  - 에러
    ```python
    TypeError                                 Traceback (most recent call last)
    <ipython-input-2-db4a259aad24> in <module>()
          1 tupledata = ('dave', 'fun-coding', 'endless')
    ----> 2 tupledata[0] = 'david'

    TypeError: 'tuple' object does not support item assignment
    ```

튜플 데이터는 수정,삭제,추가를 할 수 없다.

### Exercise 51. 데이터 구조 (튜플)
* 다음 코드를 읽고, 최종적으로 var1과 var2의 값이 어떤 값이될지 확인해보고, 왜 이렇게 동작하는지 튜플을 기반으로 설명하세요.
  - 실행코드
    ```python
    var1, var2 = 1, 2
    var1, var2 = var2, var1
    ```

In [5]:
var1, var2 = 1,2
var1, var2 = var2, var1

In [6]:
var1, var2

(2, 1)

### Exercise 52. 데이터 구조 (튜플)
* 다음 코드에서 두번째 데이터부터 마지막 데이터를 다음과 같이 출력하세요

```python
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')
```

출력:<br>
('fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')

In [2]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')
data= list(tupledata)
data

['fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5']

In [3]:
del data[0]

In [4]:
data

['fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5']

In [5]:
tuple(data)

('fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')

### Exercise 53. 데이터 구조 (튜플과 리스트)
* 다음 튜플 데이터를 리스트 데이터로 변환한 후에 'fun-coding4' 데이터를 마지막에 추가하고, 다시 튜플 데이터로 변환하세요.
```python
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
```

In [17]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
listed = list(tupledata)
listed.append('fun-coding4')
listed
tupledata = tuple(listed)
tupledata

('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4')

### Exercise 54. 데이터 구조 (튜플, 리스트, 딕셔너리)
* 비어 있는 튜플, 리스트, 딕셔너리 변수를 하나씩 각각 만드세요.

In [18]:
tuple = ()
list = []
dict = {}

In [ ]:
### Exercise 55. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고, 딕셔너리 변수의 key 값인 영어단어, value 값인 의미 만을 가진 리스트 변수를 각각 만들고, 두 리스트 변수를 출력하세요.

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
</tr>
</tbody>
</table>

* 출력 예
<pre>
{'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
['environment', 'company', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']
</pre>